

:root{

  /*COLORS*/

  --beige-500:	#98908B;
  --beige-100:	#F8F4F0;
  --grey-900:	#201F24;
  --grey-500:	#696868;
  --grey-300:	#B3B3B3;
  --grey-100:	#F2F2F2;
  --white:	#FFFFFF;

  --secondary-green: #277C78;
  --secondary-yellow: #F2CDAC;
  --secondary-cyan: #82C9D7;
  --secondary-navy: #626070;
  --secondary-red: #C94736;
  --secondary-purple: #826CB0;

  --other-purple: #AF81BA;
  --other-turquoise: #597C7C;
  --other-brown: #93674F;
  --other-magenta: #934F6F;
  --other-blue: #3F82B2;
  --other-navy-grey: #97A0AC;
  --other-army-green: #7F9161;
  --other-gold: #CAB361;
  --other-orange: #BE6C49;


  /*SIZE*/

  --space-40px: 2.5rem;  
  --space-32px: 2.0rem; 
  --space-24px: 1.5rem;
  --space-20px: 1.25rem;
  --space-16px: 1.0rem;
  --space-12px: 0.75rem;
  --space-08px: 0.5rem;
  --space-04px: 0.25rem;

  --size343to688: clamp(21.4375rem, 0.8626rem + 87.7863vw, 43rem);
  --size20to24: clamp(1.25rem, 1.0115rem + 1.0178vw, 1.5rem);
  --size24to32: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
  --size20to32: clamp(1.25rem, 0.5344rem + 3.0534vw, 2rem);
  --size32to40: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);

}


.pots-page{
    .container-main{
        @media screen and (min-width: 70rem){
            grid-template-rows: auto;
            justify-content: space-between;            
        }
    }
    .container-main-title{
        .title{
            margin: var(--space-40px) 0 var(--space-40px);
        }
    }
    .container-article{
        margin-bottom: var(--space-24px);
        .container-header-title{
            .container-title{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .color-tag{
                    width: 1rem;
                    height: 1rem;
                    background: var(--secondary-green);
                    border-radius: 50%;
                    margin-right: 1rem;
                }
            }
            .container-edit{
                .button-edit{
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
        .container-button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: var(--space-16px);
            margin: var(--space-40px) auto var(--space-16px);
            .button{
                width: 50%;
                height: 3.3125rem;                
                background: var(--beige-100);
                border-radius: 0.5rem;
                &:hover{
                    background: var(--white);
                    border: 0.0625rem solid var(--grey-900);
                }
            }           
        }
        @media screen and (min-width: 70rem){
            width: 32.375rem;
            padding: var(--space-24px);
            .container-button{
                margin: var(--space-40px) auto 0;
            }
        }
    }
}


.amount-saved{
    margin-top: var(--space-40px);
    .text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--grey-500);
        margin-bottom: var(--space-16px);
        &:nth-of-type(1) span{
            color: var(--grey-900);
        }
    }
}

.graph{
    width: 100%;
    height: 0.5rem;
    background: var(--beige-100);
    margin-bottom: var(--space-16px);
    .line-graph{
        background: var(--secondary-green);
        width: 25%;
        height: 100%;
        border-radius: 0.25rem;
    }
}

