


:root{

  /*COLORS*/

  --beige-500:	#98908B;
  --beige-100:	#F8F4F0;
  --grey-900:	#201F24;
  --grey-500:	#696868;
  --grey-300:	#B3B3B3;
  --grey-100:	#F2F2F2;
  --white:	#FFFFFF;

  --secondary-green: #277C78;
  --secondary-yellow: #F2CDAC;
  --secondary-cyan: #82C9D7;
  --secondary-navy: #626070;
  --secondary-red: #C94736;
  --secondary-purple: #826CB0;

  --other-purple: #AF81BA;
  --other-turquoise: #597C7C;
  --other-brown: #93674F;
  --other-magenta: #934F6F;
  --other-blue: #3F82B2;
  --other-navy-grey: #97A0AC;
  --other-army-green: #7F9161;
  --other-gold: #CAB361;
  --other-orange: #BE6C49;


  /*SIZE*/

  --space-40px: 2.5rem;  
  --space-32px: 2.0rem; 
  --space-24px: 1.5rem;
  --space-20px: 1.25rem;
  --space-16px: 1.0rem;
  --space-12px: 0.75rem;
  --space-08px: 0.5rem;
  --space-04px: 0.25rem;

  --size343to688: clamp(21.4375rem, 0.8626rem + 87.7863vw, 43rem);
  --size20to24: clamp(1.25rem, 1.0115rem + 1.0178vw, 1.5rem);
  --size24to32: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
  --size20to32: clamp(1.25rem, 0.5344rem + 3.0534vw, 2rem);
  --size32to40: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);

}



.recurring-page{

    .container-main{

        @media screen and (min-width: 70rem){
            display: grid;
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            grid-template-rows: min-content;
            justify-content: start;
            align-items: start;
            width: 66.25rem;
        }

    }

    .container-main-title{
        .title{
            margin: var(--space-40px) 0 var(--space-40px);
        }
    }

    .article-header{

        @media screen and (min-width: 37.5rem){
            width: var(--size343to688);
            display: flex;
            justify-content: space-between;
            align-content: center;
            column-gap: var(--space-20px);  
        }

        @media screen and (min-width: 70rem){
            width: 21.0625rem;
            display: block;
            margin-right: var(--space-24px);
        }

    }

    .section-bills{
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(2, min-content);
        align-items: center;
        column-gap: var(--space-20px);
        background: var(--grey-900);
        color: var(--white);
        border-radius: 1rem;
        margin-bottom: var(--space-12px);
        padding: var(--space-24px) var(--space-20px);
        img{
            grid-column: 1;
            grid-row: 1 / -1;
        }
        .title{
            grid-column: 2;
            grid-row: 1;
            margin-bottom: var(--space-12px);
        }
        .text{
            grid-column: 2;
            grid-row: 2;
        }

        @media screen and (min-width: 37.5rem){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 20.75rem;
            flex: 1;
            margin-bottom: 0;
            height: 12.75rem;
            padding: var(--space-40px) var(--space-24px) var(--space-24px);
            img{
                margin-bottom: var(--space-32px);
            }
        }

        @media screen and (min-width: 70rem){
            margin-bottom: var(--space-24px);
        }

    }

    .section-summary{
        background: var(--white);
        border-radius: 1rem;
        padding: var(--space-20px) var(--space-20px) 0;
        .list-spending{
            flex-direction: column;
            .li-spending{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: var(--space-16px) 0;
                .text{
                    color: var(--grey-500);
                }
                .price{
                    color: var(--grey-900);
                }
                &.due .text, &.due .price{
                    color: var(--secondary-red);
                }
                &:not(:last-of-type){
                    border-bottom: 0.0625rem solid hsla(0, 0%, 41%, 0.2);
                }              
            }
        }

        @media screen and (min-width: 37.5rem){
            max-width: 20.75rem;
            flex: 1;
            height: 12.75rem;
        }

    }

    .form-and-transaction{
        margin-top: var(--space-24px);
        @media screen and (min-width: 70rem){
            width: 43.6875rem;
            margin: 0;
        }
    }

    .transactions-form{
        input{
            width: 16.25rem;
        }
    }

    .transactions-header{
        @media screen and (min-width: 37.5rem){
            .cell-date{
                margin-left: 1.65rem;
                span{
                    display: inline-block;
                }
            }

        }
    }

    .transactions{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: repeat(2, min-content);
        row-gap: var(--space-08px);
        @media screen and (min-width: 37.5rem){
            grid-template-columns: min-content 2fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
        .container-avatar{
            grid-column: 1;
            grid-row: 1;
        }
        .cell-name{
            grid-column: 2;
            grid-row: 1;
        }
        .cell-amount{
            grid-column: 3;
            grid-row: 2;
            
            @media screen and (min-width: 37.5rem){
                grid-column: 4;
                grid-row: 1;
            }

        }
        .cell-date{
            grid-column: 1 / 3;
            grid-row: 2;
            display: flex;
            time{
                /* color: var(--secondary-green); */
                margin-right: var(--space-08px);
                &.green{
                    color: var(--secondary-green);
                }
            }            
            @media screen and (min-width: 37.5rem){
                grid-column: 3;
                grid-row: 1;
                span{
                    display: inline-block;
                }
            }
        }
        .red{
            color: var(--secondary-red);
        } 

    }

}

