
.transactions-page{

    .container-main {
        @media screen and (min-width: 70rem) {
            display: block;
        }
    }

    .container-main-title{
        .title{
            margin: var(--space-40px) 0 var(--space-40px);            
        }
    }

    .transactions-form input{
        @media screen and (min-width: 70rem) {
            width: 20rem;
        }
    }

    .button-sort {
        @media screen and (min-width: 48rem) {
            width: 7.125rem;
            height: 2.8125rem;
            border-radius: 0.5rem;
            border: 0.0625rem solid var(--beige-500);
            span{
                display: inline-block;
            }
            img.mobile{
                display: none;
            }
            img.desktop{
                display: inline-block;
                margin-left: 1rem;
                position: relative;
                top: -0.1rem;
            }
        }
    }

    .list-sort{
        @media screen and (min-width: 48rem){
            width: 7.125rem;
        }    
    }


    /*NAV PAGES*/

    .pages{
        display: block;
        width: 100%;
        margin-top: var(--space-48px);
    }

    .list-pages{
        justify-content: space-between;
        align-items: center;
    }

    .li-page{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border: 0.0625rem solid var(--beige-500);
        border-radius: 0.5rem;
        .button{
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;            
            &:disabled{
                cursor: not-allowed;
            }
        }
        svg{
            fill: #696868;
        }
        span{
            display: none;
        }
        &.active{
            background: var(--grey-900);
            color: var(--white);
        }
        &:nth-child(1), &:last-of-type{
            width: 3rem;
        }
        &:nth-child(1){
            margin: 0 auto 0 0;
        }
        &:last-of-type{
            margin: 0 0 0 auto;
        }
        &:nth-child(6){
            display: none;
        }
        &:not(:first-child, :last-child){
            margin-right: var(--space-08px);
        }
        &:hover:not(.active, .disabled){
            background: var(--beige-500);
            color: var(--white);
            svg{
                fill: var(--white);
            }
        }
        @media screen and (min-width: 48rem){
            span{
                display: inline-block;
            }
            &:nth-child(1), &:last-of-type{
                width: 6rem;
                .button{
                    justify-content: space-between;
                    margin: 0;
                    padding: 0 1.25rem;
                }
            }
            &:nth-child(6){
                display: flex;
            }
        }

    }

}

